.tabs {
  --speed: 0.25s;
  --ease: linear(
    0,
    0.1641 3.52%,
    0.311 7.18%,
    0.4413 10.99%,
    0.5553 14.96%,
    0.6539 19.12%,
    0.738 23.5%,
    0.8086 28.15%,
    0.8662 33.12%,
    0.9078 37.92%,
    0.9405 43.12%,
    0.965 48.84%,
    0.9821 55.28%,
    0.992 61.97%,
    0.9976 70.09%,
    1
  );
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}
.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}
.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}

.tabs :checked + label {
  --highlight: 1;
}

.tabs:has(input:nth-of-type(2)) {
  --count: 2;
}
.tabs:has(input:nth-of-type(3)) {
  --count: 3;
}

.tabs label {
  position: relative;
  z-index: 1;
  width: desktop-vw(290);
  cursor: pointer;
  text-align: center;
  transition: background, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease, ease);
  color: color-mix(
    in srgb,
    var(--color-teal) calc(var(--highlight, 0) * 100%),
    var(--color-black)
  );
  opacity: var(--highlight, 0.5);
}

.tabs::after {
  pointer-events: none;
  content: "";
  width: calc(100% / var(--count));
  height: 100%;
  position: absolute;
  translate: calc(var(--active, 0) * 100%) 0;
  transition: translate;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease, ease);
  background: repeating-linear-gradient(
    -45deg,
    #263b33,
    #263b33 1px,
    #0f1a17 1px,
    #0f1a17 6px
  );
  border: 2px solid #7fffc2;
  box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);
  border-radius: desktop-vw(12);
}
