.card {
  &:hover {
    box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);

    .cardHeader {
      box-shadow: 0 0 16px 0 rgba(127, 255, 195, 0.7);
    }
  }
}

.person {
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  @media (--hover) {
    &:hover {
      border-style: dashed;
      border-color: color-mix(in srgb, var(--color-forest) 50%, transparent);
      box-shadow: 0 0 24px 8px rgba(127, 255, 195, 0.7);

      .role {
        background-color: var(--color-ghost-mint);
      }
    }
  }
}

.role {
  transition: background-color 0.3s ease;
}

.marquee {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: desktop-vw(50px);
    height: 100%;
    background: linear-gradient(to right, var(--color-white), transparent);
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: desktop-vw(100px);
    height: 100%;
    background: linear-gradient(to left, var(--color-white), transparent);
    z-index: 1;
  }
}
